<user-register-form id="user-register-form" inline-template>
  <%= form_with model: @user, url: 'hoge' do |f| %>
    <div class="error-area">
      
    </div>
    <div class="form-group">
      <%= f.label :lastname, '苗字:' %>
      <%= f.text_field :lastname, 'v-model': 'lastname' %>
      <%= f.label :firstname, '名前:' %>
      <%= f.text_field :firstname, 'v-model': 'firstname' %>
    </div>
    <div class="form-group">
      <%= f.label :age, '年齢:' %>
      <%= f.text_field :age, 'v-model': 'age' %>
    </div>
    <div class="form-group">
      <%= f.label :adrress, '住所:' %>
      <%= f.text_field :adrress, 'v-model': 'address' %>
    </div>
    <div class="form-group">
      <%= f.label :email, 'メール:' %>
      <%= f.text_field :email, 'v-model': 'email' %>
    </div>
    <div class="form-group">
      <%= f.label :phone, '電話番号:' %>
      <%= f.text_field :phone, 'v-model': 'phone' %>
    </div>
    <div class="submit">
      <%= f.button type: 'submit', '@click': 'hoge' do %>
      登録する
      <% end %>
    </div>
  <% end %>
</user-register-form>
<%= javascript_pack_tag 'chapter3/new' %>
